extends layout.pug

block content
    a(href="trips") Your Trips
    h1 Plan your next Trip

    form(method='POST' action='/dashboard')
      div.form-group
        label(for='destination') Destination:
        input#destination.form-control(type='text', placeholder='destination' name='destination')
      div.form-group
        label(for='startDate') Start Date:
        input#startDate.form-control(type='text', placeholder='start date (2017-07-06)' name='startDate')
      div.form-group
        label(for='endDate') Email:
        input#endDate.form-control(type='text', placeholder='End Date (2017-07-06)' name='endDate')
      div.form-group
        label(for='pel') Personal Expenditure Limit (optional):
        input#pel.form-control(type='text', placeholder='personal expenditure limit' name='pel')
      input.btn.btn-info(type='submit' name="Search")
