doctype html
html
    head
      title Travel Collaborator
      block scripts
        script(rel='stylesheet' href='/css/lib/bootstrap/bootstrap.css')
    body
        block content
        #footer
          p demo footer
