doctype html
html
    head
      title Travel Collaborator
      block scripts
        script(src='public/css/lib/bootstrap/bootstrap.scss')
    body
        block content
        #footer
          p demo footer
