doctype html
html
    head
      title Travel Collaborator
      block scripts
        link(rel='stylesheet' href='/css/lib/bootstrap/bootstrap.css')
    body
        .container
            block content
        .footer.navbar-bottom.text-center(style='background-color:grey;height:100px')
