extends layout.pug

block content

    .main-container
        form(method = 'POST')
            div.form-group
                label(for = 'name') Name:
                input#name.form-control(type = "text", name = "name")

            div.form-group
                label(for = 'age') Age:
                input#age.form-control(type = "number" name = "age")
git add .
            div.form-group
                label(for = 'gender') Gender:
                input#gender.form-control(type = "text" name = "gender")

            div.form-group
                label(for = 'ph_number') Ph.Number:
                input#number.form-control(type = "number" name = "ph_number")

            button.btn.btn-primary(type = "submit") Sign In
